@page
@model QuackCalendar.WebApp.Pages.QCalendar.ViewCalendarModel
@{
    ViewData["Title"] = "ViewCalendar";
}

<link rel="stylesheet" href="~/css/qcalendar.css" type="text/css" />

<h1>Quack Calendar - View</h1>

<div class="month">
    @for (int w = 0; w < 6; w++)
    {
        <ul class="days">
            @for (int d = 0; d < 7; d++)
            {
                <li>
                    @if (Model.DaysOfTheMonth[w, d] > 0)
                    {
                        @Model.DaysOfTheMonth[w, d]
                    <div class="days-event">
                        @if (string.IsNullOrEmpty(Model.GetDayEventsHtml(Model.DaysOfTheMonth[w, d])))
                        {
                            <br /><br /><br />
                        }
                        else
                        {
                            @Model.GetDayEventsHtml(Model.DaysOfTheMonth[w, d])
                        }
                    </div>
                    }
                </li>
            }
        </ul>
    }
</div>

@Model.Message