@page "{eventId:int}"
@model QuackCalendar.WebApp.Pages.QC.ViewEventModel
@{
    ViewData["Title"] = "ViewEvent";
}

<h1>Quack Calendar / View Event</h1>

<div class="breadcrumb">
    <span class="breadcrumb-item">Quack Calendar</span>
    <span class="breadcrumb-item">View Event</span>
</div>